<mat-card class="signup-page" appearance="outlined">
  <mat-card-header>
    <mat-card-title>MarketSafe</mat-card-title>
    <mat-card-subtitle>Sign up to get started</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <h1 class="create-account">Create Account</h1>

      <label class="plain-label" for="firstName">First Name</label>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label> First Name </mat-label>
        <input
          matInput
          formControlName="firstName"
          (blur)="markTouched('firstName')"
        />
        @if (form.get('firstName')?.invalid){
        <mat-error>{{getErrorMessage('firstName')}}</mat-error>
        }
      </mat-form-field>

      <label class="plain-label" for="lastName">Last Name</label>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label> Last Name </mat-label>
        <input
          matInput
          formControlName="lastName"
          (blur)="markTouched('lastName')"
        />
        @if (form.get('lastName')?.invalid){
        <mat-error>{{getErrorMessage('lastName')}}</mat-error>
        }
      </mat-form-field>

      <label class="plain-label" for="email">University Email</label>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label> Email </mat-label>
        <input matInput formControlName="email" (blur)="markTouched('email')" />
        @if (form.get('email')?.invalid){
        <mat-error>{{getErrorMessage('email')}}</mat-error>
        }
      </mat-form-field>

      <label class="plain-label" for="password">Password</label>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label> Password </mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hidePassword() ? 'password' : 'text'"
          (blur)="markTouched('password')"
        />
        @if (form.get('password')?.invalid) {
        <mat-error>{{ getErrorMessage('password') }}</mat-error>
        }
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="toggleHide($event, hidePassword)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="!hidePassword()"
        >
          <mat-icon
            >{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon
          >
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions type="submit">
      <button mat-raised-button>Create Account</button>
    </mat-card-actions>
    <mat-card-footer>
      Already have an account?
      <a routerLink="/login" class="login-link">Log in</a>
    </mat-card-footer>
  </form>
</mat-card>
